#Sauce demo
SAUCE_DEMO_BASE_URL=https://www.saucedemo.com/

Standard_User_USERNAME=
Standard_User_PASSWORD=

Locked_Out_User_USERNAME=
Locked_Out_User_PASSWORD=

Problem_User_USERNAME=
Problem_User_PASSWORD=

Performance_Glitch_User_USERNAME=
Performance_Glitch_User_PASSWORD=

Error_User_USERNAME=
Error_User_PASSWORD=

Visual_User_USERNAME=
Visual_User_PASSWORD=

# Salesforce
SF_BASE_URL=https://login.salesforce.com
SF_USERNAME=your_sf_username@example.com
SF_PASSWORD=your_sf_password
SF_TOKEN=your_sf_token